{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

    {% if commandes is not empty %}

        <h2 class="text-center"> {{ title }}</h2>

        <table class="table table-hover offset-2 col-8 mt-5">
            <thead>
            <tr class="text-center">
                <td>Commandes</td>
                <th>Client</th>
                <th>Description</th>
                <th>Prix total</th>
                <th>Date de la commande</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr class="text-center">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ commande.totalPrice | format_currency('EUR') }}</td>
                    <td>{{ commande.heureCommande | date("d/m/Y h:i:s", "Europe/Paris") }}</td>
                    <td>{{ commande.status }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <h2 class="text-center">Vous n'avez pas de commande {{ type }}</h2>
    {% endif %}

{% endblock %}
