{% extends 'base.html.twig' %}

{% block title %} Bonjour, {{ app.user.firstName }} ! {% endblock %}

{% block body %}
    <div class="offset-3 col-8 mt-4">
        <div class="col-9">
            <div class="card">
                <img class="card-img-top"  src="{{ asset('img/resources/gestion-de-donnée.jpg') }}"
                     alt="Commandes">

                <div class="card-body">

                    <h5 class="card-title text-center">
                        Gestion des Données
                    </h5>


                    <div class="row mt-1">
                        <p class="font-weight-bolder col-8">Gérer les catégories de plats : </p>
                        <p class="col-1">  </p>
                        <a href="{{ path('categorie_plats_index') }}" class="btn btn-primary col-1">Voir</a>
                    </div>
                    <div class="row mt-1">
                        <p class="font-weight-bolder col-8">Gérer les catégories de restaurants : </p>
                        <p class="col-1">  </p>
                        <a href="{{ path('categorie_restaurant_index') }}" class="btn btn-primary col-1">Voir</a>
                    </div>
                    <div class="row mt-1">
                        <p class="font-weight-bolder col-8">Gérer les secteurs : </p>
                        <p class="col-1">  </p>
                        <a href="{{ path('secteur_index') }}" class="btn btn-primary col-1">Voir</a>
                    </div>
                    <div class="row mt-1">
                        <p class="font-weight-bolder col-8">Gérer les villes : </p>
                        <p class="col-1">  </p>
                        <a href="{{ path('ville_index') }}" class="btn btn-primary col-1">Voir</a>
                    </div>
                    <div class="row mt-1">
                        <p class="font-weight-bolder col-8">Votre Profil : </p>
                        <p class="col-1">  </p>
                        <a href="{{ path('profil_page') }}" class="btn btn-primary col-1">Voir</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
