{% extends 'base.html.twig' %}

{% block title %}Hello AccueilClientController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('navbarLeft') }}
{% endblock %}

{% block body %}
    <div class="vertical-nav" id="sidebar">
        <ul class="nav flex-column mb-0">

                {% for categorieRestaurant in categorieRestaurants %}
            <li class="nav-item">
                <a class="nav-link font-italic">
                   {{ categorieRestaurant.libelle }}
                </a>
            </li>
                {% endfor %}
        </ul>
    </div>

    <div class="page-content">
        <table>
            <thead>
            <tr>
                <th>Votre Adresse <br> {{ user }}</th>

                <th> Nom Restaurant  </th>
                <th> Adresse </th>
                <th> Type de Restaurant</th>

            </tr>
            </thead>

            <tbody>
            <tr>

                {% for restaurant in restaurants %}
                    <td>{{ restaurant.utilisateur.adress }}</td>
                    {% for rest in restaurant.categorieRestaurants %}
                    <td>{{ rest.libelle }}</td>

                {% endfor %}


                {% endfor %}

            </tr>
            </tbody>



        </table>
    </div>
{% endblock %}
