{% extends 'base.html.twig' %}

{% block title %}Hello AccueilClientController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('navbarLeft') }}
{% endblock %}

{% block body %}
    <div class="vertical-nav" id="sidebar">
        <ul class="nav flex-column mb-0">

            {% for categorieRestaurant in categorieRestaurants %}
                <li class="nav-item">
                    <a class="nav-link font-italic">
                        {{ categorieRestaurant.libelle }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="page-content">
        <h3> Votre adresse : {{ app.user.adress }} {{ app.user.ville.nomVille }}</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th> Nom Restaurant</th>
                <th> Adresse</th>
                <th> Ville</th>
                <th> Type de Restaurant</th>
            </tr>
            </thead>

            <tbody>
            <tr>

                {% for restaurant in restaurants %}
                    <td>{{ restaurant.companyName }}</td>
                    <td>{{ restaurant.utilisateur.adress }}</td>
                    <td>{{ restaurant.utilisateur.ville.nomVille }}</td>
                    <td>
                        {% for rest in restaurant.categorieRestaurants %}
                            {{ rest.libelle }}
                        {% endfor %}
                    </td>


                {% endfor %}

            </tr>
            </tbody>


        </table>
    </div>
{% endblock %}
