{{ form_start(form, {'attr':{'class':'form-group'}}) }}
<div class="d-flex justify-content-around">
    <div class="col">
        {{ form_row(form.nom_ville, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col">
        {{ form_row(form.Secteur, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col">
        {{ form_row(form.code_postal, {'attr':{'class':'form-control'}}) }}
    </div>
</div>
<div class="d-flex justify-content-around mt-4">
    <button class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
    <a href="{{ path('ville_index') }}" class="btn btn-danger">Retour à la liste</a>
</div>
{{ form_end(form) }}
