{{ form_start(form, {'attr':{'class':'form-group'}}) }}
    {{ form_row(form.nomSecteur, {'attr':{'class':'form-control'}}) }}
<div class="d-flex justify-content-around mt-4">
    <button class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
    <a href="{{ path('secteur_index') }}" class="btn btn-danger">Retour à la liste</a>
</div>
{{ form_end(form) }}
