{% extends 'base.html.twig' %}

{% block title %}Hello ProfilPageController!{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-4">Votre profil</h1>

    <div class="col-md offset-lg-2 col-lg-8">
        <div class="card">

            {% set imagePath = 'img/profil/' ~ app.user.imageFileName %}

            <img class="rounded-circle img-thumbnail offset-4 col-4"
                 src="{{ asset(imagePath) }}"
                 alt="Photo de profil">

            <div class="card-body offset-2">

                <h5 class="card-title">{{ app.user.firstName }} {{ app.user.lastName }}</h5>

                <p class="card-text">
                <div class="row">
                    <div class="col-5">Mail :</div>
                    <div class="col-5">{{ app.user.email }}</div>
                </div>

                <p class="card-text">
                <div class="row">
                    <div class="col-5">Adresse :</div>
                    <div class="col-5">{{ app.user.adress }}</div>
                </div>

                <p class="card-text">
                <div class="row">
                    <div class="col-5">Ville :</div>
                    <div class="col-5">{{ app.user.ville.nomVille }}</div>
                </div>


                <p class="card-text">
                <div class="row">
                    <div class="col-5">Rôle :</div>
                    {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                        <div class="col-5">Administrateur</div>
                    {% elseif is_granted('ROLE_CLIENT') == true %}
                        <div class="col-5">Client</div>
                    {% elseif is_granted('ROLE_RESTO') == true %}
                        <div class="col-5">Restaurateur</div>
                    {% elseif is_granted('ROLE_LIVREUR') == true %}
                        <div class="col-5">Livreur</div>
                    {% endif %}
                </div>

                {% if is_granted('ROLE_CLIENT') == true %}
                    <p class="card-text">
                    <div class="row">
                        <div class="col-5">Nombre de commandes passées :</div>
                        <div class="col-5">{{ app.user.commande | length }}</div>
                    </div>
                {% endif %}

                {% if is_granted('ROLE_RESTO') == true %}
                    <p class="card-text">
                    <div class="row">
                        <div class="col-5">Nombre de commandes reçues et livrées :</div>
                        <div class="col-5">{{ app.user.commande | length }}</div>
                    </div>
                {% endif %}

                {% if is_granted('ROLE_LIVREUR') == true %}

                    {% set nbreLivraisonEffectuee = 0 %}

                    {% for livraison in app.user.livreur.livraisons %}
                        {% if livraison.status == "Livré" %}
                            {% set nbreLivraisonEffectuee = nbreLivraisonEffectuee + 1 %}
                        {% endif %}
                    {% endfor %}

                    <p class="card-text">
                    <div class="row">
                        <div class="col-5">Nombre de livraisons effectuées :</div>
                        <div class="col-5">{{ nbreLivraisonEffectuee }}</div>
                    </div>
                {% endif %}

            </div>
            <a class="btn btn-info align-content-center" href="{{ path('profil_edit', {'id':app.user.id}) }}">Modifier</a>
        </div>
    </div>
    <div class="text-center mt-5">
        <a class="btn btn-info align-content-center" href="/">Retour</a>
    </div>
{% endblock %}
