{% extends 'base.html.twig' %}

{% block title %}Hello AccueilClientController!{% endblock %}


{% block body %}
    <div class="offset-2 col-8 mt-5">
        <h2 class="text-center"> Menus </h2>
        {% if plats is not empty %}
        <table class="table table-hover mt-5">
            <thead>
            <tr>
                <th>Nom du plat</th>
                <th>Description du plat</th>
                <th>Prix du plat</th>
                <th>Catégorie du plat</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for plat in plats %}
                <tr>
                    <td>{{ plat.name }}</td>
                    <td>{{ plat.description }}</td>
                    <td>{{ plat.price | format_currency('EUR') }}</td>
                    <td>{{ plat.categoriePlats }}</td>
                    <td>
                        {% if app.session.get('panier')[plat.id] is defined %}
                            {% if app.session.get('panier')[plat.id] == plat.qte %}
                                {% set disabled = ' disabled' %}
                            {% endif %}
                        {% endif %}

                        <a href="{{ path('panier_add', {'id':plat.id, 'idRestaurant':plat.restaurant.id}) }}"
                           class="btn btn-primary {{ disabled | default('') }}">Ajouter au panier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            {% else %}
            <h3 class="text-center mt-5">Désolé il n'y a plus de menu disponible dans ce restaurant...</h3>
        {% endif %}
    </div>
{% endblock %}
