<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('accueil') }}
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('main') }}">Gastron'Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('main') }}">Page d'accueil</a>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categorie_plats_index') }}">Gérer les catégories de plats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categorie_restaurant_index') }}">Gérer les catégories de restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('secteur_index') }}">Gérer les secteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ville_index') }}">Gérer les villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_page') }}">Votre Profil</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_CLIENT') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('client') }}">Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Passer une commande</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_page') }}">Votre Profil</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_LIVREUR') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('livreur') }}">Livreur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Voir livraison</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Historique livraison</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_page') }}">Votre Profil</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_RESTO') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('restaurant') }}">Restaurateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Commandes en attentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Historique commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('plats_index') }}">Gérer vos plats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profil_page') }} ">Votre Profil</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="btn btn-danger" href="{{ path('app_logout') }}">Se Deconnecter</a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="btn btn-primary mr-1" href="{{ path('app_login') }}">Se Connecter</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href="{{ path('app_register') }}">S'Inscrire</a>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>

{% block body %}{% endblock %}
</body>
{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</html>
