{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilLivreurController!{% endblock %}

{% block body %}

    <div class="offset-2 col-8 mt-5">
        {% if livreur.typeVehicule is not null %}
            <div class="card text-center">
                <div class="card-header">
                    {{ livreur.utilisateur.firstName }} {{ livreur.utilisateur.lastName }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('change_disponibilite')}}" class="btn btn-primary">{{ livreur.isDisponible? 'Disponible' : 'Non Disponible' }}</a>
                    </h5>

                    <p class="card-text">{{ livreur.description }}</p>
                    <a href="{{ path('edit_livreur', {'id': livreur.id}) }}" class="btn btn-primary">Modifier votre
                        compte</a>
                </div>
                <div class="card-footer text-muted">
                    <div class="d-flex justify-content-around">
                        <div>{{ livreur.typeVehicule }}</div>
                    </div>
                </div>
            </div>
        {% else %}
            <a href="{{ path('edit_livreur', {'id': livreur.id}) }}" class="btn btn-primary">Modifier votre
                compte</a>
        {% endif %}
    </div>

{% endblock %}
