{% extends 'base.html.twig' %}

{% block title %} Modification de votre profil Livreur {% endblock %}

{% block body %}
    <div class="offset-2 col-8">
        {{ form_start(form, {'attr':{'class':'form-group'}}) }}
        {{ form_row(form.typeVehicule, {'attr':{'class':'form-control'}}) }}
        {{ form_row(form.description, {'attr':{'class':'form-control'}}) }}
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary mt-5">{{ button_label|default('Mettre à jour') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
