{% extends 'base.html.twig' %}

{% block title %}Liste de vos livraisons{% endblock %}

{% block body %}
    {% if livraisons is not empty %}
        <table class="table table-hover offset-2 col-8 mt-5">
            <thead>
            <tr class="text-center">
                <th>Date de Livraison</th>
                <th>Adresse de Livraison</th>
                <th>Ville de Livraison</th>
                <th>Status de la commande</th>
                <th>Numéro de commande</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for livraison in livraisons %}
                <tr class="text-center">
                    <td>{{ livraison.dateLivraison | date("d/m/Y h:i:s", "Europe/Paris") }}</td>
                    <td>{{ livraison.adresseLivraison }}</td>
                    <td>{{ livraison.livreur.utilisateur.ville }}</td>
                    <td>{{ livraison.status }}</td>
                    <td>{{ livraison.commande.id }}</td>
                    {% if livraison.status == "Prête" %}
                        <td>
                            <a href="{{ path('take_commande', {'id' : livraison.id})}}" class="btn btn-primary">Valider la livraison</a>
                        </td>
                    {% elseif livraison.status == "Prise en charge" %}
                    <td>
                        <a href="{{ path('validation_commande', {'id' : livraison.id})}}" class="btn btn-primary">Valider la livraison</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <h2 class="text-center mt-5">Vous n'avez pas de commande à livrer</h2>
    {% endif %}

{% endblock %}
